# ASSIGNMENT ON CLASSIFICATION

In [245]:
##Do the following in the iris dataset

In [246]:
##1. Read the dataset to python environment

In [247]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [248]:
iris_data=pd.read_excel(r'D:\OneDrive\Desktop\ARYA DSA\iris_new.xls')

In [249]:
iris_data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [250]:
iris_data.tail()

      SL   SW   PL   PW  Classification
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  NaN  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [251]:
#To check how many rows and columns
iris_data.shape

(150, 5)

In [252]:
#to know basic information about data

iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [253]:
iris_data.describe()

               SL          SW          PL          PW
count  143.000000  144.000000  144.000000  150.000000
mean     5.855944    3.049306    3.756250    1.198667
std      0.828168    0.430644    1.761306    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [254]:
#to check null values
iris_data.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [255]:
##2. Do the necessary pre-processing steps

# Handling  Missing values

In [256]:
##Filling Missing Values

In [257]:
iris_data.dtypes

SL                float64
SW                float64
PL                float64
PW                float64
Classification     object
dtype: object

In [258]:
# To get columns names
iris_data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [259]:
#extracting numerical columns
num_cols=iris_data[['SL', 'SW', 'PL', 'PW']]

In [260]:
num_cols.isna().sum()

SL    7
SW    6
PL    6
PW    0
dtype: int64

In [261]:
##To fill missing values we use Imputing Methods

In [262]:
from sklearn.impute import SimpleImputer

In [263]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(num_cols)
num_cols=imputer.transform(num_cols)
num_cols=pd.DataFrame(num_cols,columns=[['SL', 'SW', 'PL', 'PW']])

In [264]:
num_cols.isna().sum()

SL    0
SW    0
PL    0
PW    0
dtype: int64

In [265]:
#To concatenate

iris_data.drop(['SL', 'SW', 'PL', 'PW'],axis=1,inplace=True)
iris_data=pd.concat([num_cols,iris_data],axis=1)

In [266]:
iris_data

        (SL,)  (SW,)    (PL,)  (PW,)  Classification
0    5.100000    3.5  1.40000    0.2     Iris-setosa
1    4.900000    3.0  1.40000    0.2     Iris-setosa
2    5.855944    3.2  1.30000    0.2     Iris-setosa
3    4.600000    3.1  1.50000    0.2     Iris-setosa
4    5.000000    3.6  1.40000    0.2     Iris-setosa
..        ...    ...      ...    ...             ...
145  6.700000    3.0  5.20000    2.3  Iris-virginica
146  6.300000    2.5  5.00000    1.9  Iris-virginica
147  6.500000    3.0  3.75625    2.0  Iris-virginica
148  6.200000    3.4  5.40000    2.3  Iris-virginica
149  5.900000    3.0  5.10000    1.8  Iris-virginica

[150 rows x 5 columns]

In [267]:
iris_data.isna().sum()

(SL,)             0
(SW,)             0
(PL,)             0
(PW,)             0
Classification    0
dtype: int64

# One-hot Encoding

In [268]:
dummies=pd.get_dummies(iris_data.Classification)
dummies.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0

In [269]:
##concatenate dummies with iris data loaded

iris_data2=pd.concat([iris_data,dummies],axis=1)
iris_data2.head()

,"(SL,)","(SW,)","(PL,)","(PW,)",Classification,Iris-setosa,Iris-versicolor,Iris-virginica
0,5.100000,3.5,1.4,0.2,Iris-setosa,1,0,0
1,4.900000,3.0,1.4,0.2,Iris-setosa,1,0,0
2,5.855944,3.2,1.3,0.2,Iris-setosa,1,0,0
3,4.600000,3.1,1.5,0.2,Iris-setosa,1,0,0
4,5.000000,3.6,1.4,0.2,Iris-setosa,1,0,0

In [270]:
##DRop the object column ie, drop Classification column

iris_data3=iris_data2.drop(columns='Classification',axis=1)

iris_data3

,"(SL,)","(SW,)","(PL,)","(PW,)",Iris-setosa,Iris-versicolor,Iris-virginica
0,5.100000,3.5,1.40000,0.2,1,0,0
1,4.900000,3.0,1.40000,0.2,1,0,0
2,5.855944,3.2,1.30000,0.2,1,0,0
3,4.600000,3.1,1.50000,0.2,1,0,0
4,5.000000,3.6,1.40000,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.700000,3.0,5.20000,2.3,0,0,1
146,6.300000,2.5,5.00000,1.9,0,0,1
147,6.500000,3.0,3.75625,2.0,0,0,1
148,6.200000,3.4,5.40000,2.3,0,0,1
149,5.900000,3.0,5.10000,1.8,0,0,1

In [271]:
iris_data3.describe()

,"(SL,)","(SW,)","(PL,)","(PW,)",Iris-setosa,Iris-versicolor,Iris-virginica
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.855944,3.049306,3.756250,1.198667,0.333333,0.333333,0.333333
std,0.808480,0.421884,1.725479,0.763161,0.472984,0.472984,0.472984
min,4.300000,2.000000,1.000000,0.100000,0.000000,0.000000,0.000000
25%,5.200000,2.800000,1.600000,0.300000,0.000000,0.000000,0.000000
50%,5.800000,3.000000,4.200000,1.300000,0.000000,0.000000,0.000000
75%,6.400000,3.275000,5.100000,1.800000,1.000000,1.000000,1.000000
max,7.900000,4.400000,6.900000,2.500000,1.000000,1.000000,1.000000

In [272]:
##Split data

In [273]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,
                                                test_size=0.2,
                                                random_state=1)

In [274]:
X_train.shape

(120, 4)

In [275]:
y_train.shape

(120,)